# PostgreSQL server
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

# QGIS DB connection string (для processing)
QGIS_DB_URI="postgres://dbname='' host=host.docker.internal port= user='' password='' sslmode=disable key='\"id\"' srid=5564 type=Point table=\"geo_score_schema\".\"locations_view\" (coordinates)"
QT_QPA_PLATFORM=offscreen
